* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  font-family: @df-sans;
  max-width: 960px;
  margin: auto;
}

.search-container {
  text-align: center;
  padding-bottom: 10px;

  .search {
    font-size: 16px;
  }
  input {
    margin-left: 4px;
  }
}

table {
  border-collapse: collapse;

  th {
    text-transform: uppercase;
    border-bottom: 1px solid @df-light-gray;
    padding: 6px 8px;
    text-align: left;
    font-size: 12px;

    @media @mobile {
      font-size: 10px;
      padding: 3px 4px;
    }
  }

  tr:nth-child(odd) td {
    background: @df-off-white;
  };

  td {
    padding: 6px 8px;
    font-size: 14px;

    @media @mobile {
      font-size: 11px;
      padding: 3px 4px;
    }
  }
}

.offers {
  max-width: 345px;
  font-size: 12px;

  @media @mobile {
    display: none;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    background: @df-light-gray;
  }
}

.selected {
  background: @df-light-gray;

  &.up::after {
    font-size: 10px;
    content: "\25BC";
    padding-left: 4px;

    @media @mobile {
      font-size: 8px;
    }
  }
  &.down::after {
    font-size: 10px;
    content: "\25B2";
    padding-left: 4px;

    @media @mobile {
      font-size: 8px;
    }
  }
}