<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <div class="outer" ng-app="prep-recruits">

      <%= t.include("partials/_ad.html", { type: "banner" }) %>

      <nav class="top-bar">
       <a class="logo" href="http://seattletimes.com">
         <img src="./assets/seattletimes.svg">
       </a>
     </nav>

      <img src="./assets/megaboard.jpg">

      <p class="welcome">Welcome to The Seattle Times’ high school recruiting Megaboard, the one place you can track the offers and commitments of all Washington state football recruits. We’ll keep updating this page through National Signing Day, on Feb. 3, and include underclassmen as well.</p>

      <p style="font-size: 12px;">Last updated: Oct. 12, 2015</p>

      <div ng-controller="PrepController">

        <div class="search-container">
          <span class="search">Search:</span>
          <input type="text" ng-model="searchText">
        </div>

        <table>
          <thead>
            <tr>
              <th ng-repeat="header in headers" class="{{header.short}}" ng-click="sortTable(header)" ng-class="{clickable: header.short !== 'offers', down: selected == header && sortOrder == -1, up: selected == header && sortOrder == 1, selected: header == selected}">{{header.title}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="recruit in recruits | filter:searchText">
              <td class="name">{{recruit.first}} {{recruit.last}}</td>
              <td class="position">{{recruit.position}}</td>
              <td class="school">{{recruit.school}}</td>
              <td class="commitment">{{recruit.commitment}}</td>
              <td class="offers">{{recruit.offers}}</td>
              <td class="ranking">
                <div ng-if="recruit.rivals">{{recruit.rivals}} (Rivals)</div>
                <div ng-if="recruit.scout">{{recruit.scout}} (Scout)</div>
              </td>
            </tr>
            <tr class="no-results">
              <td colspan=100>No results found
            </tr>
          </tbody>
        </table>

        <div class="divider"></div>

       <div class="credits">
         Data compiled by <span class="credit-name">Solange Reyner</span>, development by <span class="credit-name">Audrey Carlsen</span> and <span class="credit-name">Nick Eaton</span>
       </div>
       <div class="links">
         <div class="links-header">More on high school sports in The Seattle Times:</div>

         <a href="http://www.seattletimes.com/sports/high-school/">High School News</a> | <a href="http://seattletimes.sportngin.com/schedule/day/league_instance/31924?subseason=225972">Football Scores and Stats</a> | <a href="http://www.seattletimes.com/sports">Seattle Times Sports</a>
       </div>
       <div class="copyright">Copyright 2015 The Seattle Times</div>
     </div>

     <div class="bottom-ad"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %>
     </div>

      </div>
    </div>

    <footer>
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
      <a class="share-bottom"></a>
    </footer>

    <script>
      var prepData = <%= JSON.stringify(json.prepData) %>;
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
